html {
    background-color: #ffffff;
}
  
.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
body {
    margin: 0;
    font-family : 'Zen Kaku Gothic New';
}


header {
    position:fixed;
    top:0;
    width:100%;
    height:10vh;
    align-content: center;
    text-align: center;
    background-color:white;
    z-index: 1;
}


h1 {
    font-size: 1.2em;
    color:rgba(71, 69, 63, 1);
}


main {
    display:flex;
    flex-direction: column;
}


.grille {
    padding-top:10vh;
    width:100%;
    height:90vh;
    align-items: center;
    display:flex;
    gap:0.5%;
}


.ville {
    text-align:center;
    align-content:center;
    position:relative;
    flex: 1;
    height:100%;
    background-color: aquamarine;
    cursor:pointer;
}


  
.ville:hover {
    transform: rotateY(180deg);
    transition: all 0.5s ease;
    transform-style: preserve-3d;
  }
  
.front {
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(253, 251, 243, 1);
    backface-visibility: hidden;
    align-content: center;
  }
  
.back {
    position:relative;
    height:100%;
    width:100%;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  

.jour {
    padding-left:5%;
    padding-right:5%;
    height:90vh;
    padding-top:10vh;
    background-color: brown;
}

.grille_2 {
    height:17.6vh;
    align-content: center;
    display:flex;
    gap:5%;
    background-color: chocolate;
}

.mini_oeuvre {
    flex:1;
    height:100%;
    text-align: center;
    background-color: aquamarine;
}

.bottom {
    margin-top:10vh;
    height:40vh;
    align-content: center;
    display:flex;
    gap:10%;
}

img{
    width:100%;
}

.carte{
    flex:0.5;
    height:100%;
}

.calendrier{
    flex:1;
    height:100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

