html {
    background-color: #ffffff;
}
  
.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
body {
    margin: 0;
    font-family : 'Zen Kaku Gothic New';
}


header {
    position:fixed;
    top:0;
    width:100%;
    height:10vh;
    align-content: center;
    text-align: center;
    background-color:white;
    z-index: 1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 1.2em;
    color:rgba(71, 69, 63, 1);
    width:80%;
    display:inline-block;
}

.fa-solid fa-house {
    display:inline-block;
}


.fa-regular fa-circle-question{
    display:inline-block;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display:flex;
    flex-direction: column;
    background-color: cornflowerblue;
}


.haut {
    padding-top:10vh;
    width:100%;
    height:90vh;
    align-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.oeuvre {
    width:60%;
    height:80%;
    margin:20%;
    margin-top:2%;
    margin-bottom:18%;
    background-color: aquamarine;
    border-radius: 2%;
}

.bas {
    padding-left:5%;
    padding-right:5%;
    height:90vh;
    padding-top:10vh;
    background-color: rgb(49, 229, 18);
    text-align: center;
    align-content: center;
}

img{
    height:100%;
}

.annee {
    width:60%;
    height:80%;
    margin:20%;
    margin-top:2%;
    margin-bottom:18%;
    background-color: rgb(255, 127, 202);
    border-radius: 2%;
}